h1 Hello
h2 Hello Twice
javascript:
  var username = "User_" + Math.floor((Math.random()*1000)+1);
  var connection = new WebSocket('ws://'+ location.host + '/chat');

  connection.onopen = function(e){
    alert("OPENED");
  }

  connection.onmessage = function(e){
    var response = JSON.parse(e.data);
    appendToMessageBox(response.username, response.message);
  }