h1 Hello
h2 Hello Twice
javascript:
  var username = "User_" + Math.floor((Math.random()*1000)+1);
  var connection = new WebSocket('ws://'+ location.host + '/chat/923313?username=damir&alphabet=latinic');

  connection.onopen = function(e){
    alert("OPENED");
  }

  connection.onmessage = function(e){
    var response = e.data;
    alert("Got message: " + response);
  }