#message-box{
  height: 300px;
  overflow: auto; scroll;
  background-color: #989898;
  padding-left: 10px;
  margin-bottom: 10px;
}

.submited-message{
  padding-left: 10px;
}

.black-text{
  color: black;
}

.navbar-inner{
  height:40px;
}

.logout-button {
  background:none;
  border:none; 
  padding:0;
  padding-top: 17px;
  padding-left: 10px;
  color: white;
}

input#new-message{
  
}

div.form-group{
  display: inline-block;
}