#message-box{
  height: 500px;
  overflow: auto; scroll;
  background-color: #989898;
  padding-left: 10px;
  margin-bottom: 10px;
}

.submited-message{
  padding-left: 10px;
}

.left-sidebar ul li.online-user > a,.left-sidebar ul li.online-user > a:hover{
  color: #66FF66;
}

.left-sidebar ul li.offline-user a, .left-sidebar ul li.offline-user a:hover{
  color: #FF3333;
}

.left-sidebar ul li.room > a,.left-sidebar ul li.room > a:hover{
  /*color: #FFF;*/
}

.black-text{
  color: black;
}

.navbar-inner{
  height:40px;
}

.logout-form{
  padding-left: 10px;
}
.logout-button {
  background:none;
  border:none; 
  padding:0;
  padding-top: 11px;
  padding-left: 10px;
  color: white;
}

.create-new-room{
  height:200px;
  background-color: #3a3f44;
}

.create-new-room h4{
  display: inline-block;
  padding-left: 10px;
}
#room-name{
  padding-left: 10px;
  margin-left: 10px;
  width:80%;
  height: 30px;
}
#room-submit{
  margin-left: 10px;
}


input#new-message{
  padding-left: 10px;
}

div.form-group{
  display: inline-block;
}